html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
}

h3 {
    color: green;
}

.all {
    border: 1px solid black;
    background-color: #eee;
    padding: 2em;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}

.site-footer {
    text-align: center;
}

.box {
    position: absolute;
    border: 2px solid #000;
}

.center {
    top: 50%;
    left: 50%;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.size200 {
    height: 200px;
    width: 200px;
}

.selected {
    outline: 2px solid blue;
}

.circle {
    border-radius: 50%;
}

.animateSize {
    transition: width 1s, height 1s;
}
