h1 {
    text-align: center;
}

h3 {
    color: green;
}

.all {
    border: 1px solid black;
    background-color: #eee;
    padding: 2em;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}

.site-footer {
    text-align: center;
}

.flagLeft,
.flagRight {
    float: left;
}

.navbar {
    text-align: center;
}

.navbar a {
    border: 2px solid #000;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

.flagLeft a:hover,
.flagRight a:hover {
    text-decoration: underline;
    color: blue;
}


/* ELFENBENSKUSTEN */

.flag {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
}

.elfenbenskusten {
    margin-left: 50px;
    top: 20px;
    background-color: #fff;
}

.elfenbenskusten .part1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 200px;
    background-color: #f77f00;
}

.elfenbenskusten .part2 {
    position: absolute;
    top: 0;
    left: 200px;
    width: 100px;
    height: 200px;
    background-color: #009e60;
}

/* SVERIGE */

.sverige {
    margin-left: 50px;
    top: 40px;
    background-color: #fff;
}

.sverige .part1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 75px;
    background-color: #006aa9;
}

.sverige .part2 {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100px;
    height: 50px;
    background-color: #fecd00;
}

.sverige .part3 {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100px;
    height: 75px;
    background-color: #006aa9;
}

.sverige .part4 {
    position: absolute;
    top: 0;
    left: 100px;
    width: 50px;
    height: 200px;
    background-color: #fecd00;
}

.sverige .part5 {
    position: absolute;
    top: 0;
    left: 150px;
    width: 150px;
    height: 75px;
    background-color: #006aa9;
}

.sverige .part6 {
    position: absolute;
    top: 75px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: #fecd00;
}

.sverige .part7 {
    position: absolute;
    top: 125px;
    left: 150px;
    width: 150px;
    height: 75px;
    background-color: #006aa9;
}

/* GAMBIA */

.gambia {
    top: 20px;
    margin-left: 50px;
    background-color: #fff;
}

.gambia .part1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 70px;
    background-color: #cf0921;
}

.gambia .part2 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 300px;
    height: 40px;
    background-color: #04168d;
}

.gambia .part3 {
    position: absolute;
    top: 130px;
    left: 0;
    width: 300px;
    height: 70px;
    background-color: #377823;
}

/* GREKLAND */

.grekland {
    margin-left: 50px;
    top: 40px;
    background-color: #fff;
}

.grekland .part1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 38.9px;
    height: 44.4px;
    background-color: #0d5eaf;
}

.grekland .part2 {
    position: absolute;
    top: 66.6px;
    left: 0;
    width: 38.9px;
    height: 44.4px;
    background-color: #0d5eaf;
}

.grekland .part3 {
    position: absolute;
    top: 0;
    left: 61.1px;
    width: 38.9px;
    height: 44.4px;
    background-color: #0d5eaf;
}

.grekland .part4 {
    position: absolute;
    top: 66.6px;
    left: 61.1px;
    width: 38.9px;
    height: 44.4px;
    background-color: #0d5eaf;
}

.grekland .part5 {
    position: absolute;
    top: 0;
    left: 100px;
    width: 200px;
    height: 22.2px;
    background-color: #0d5eaf;
}

.grekland .part6 {
    position: absolute;
    top: 44.4px;
    left: 100px;
    width: 200px;
    height: 22.2px;
    background-color: #0d5eaf;
}

.grekland .part7 {
    position: absolute;
    top: 88.8px;
    left: 100px;
    width: 200px;
    height: 22.2px;
    background-color: #0d5eaf;
}

.grekland .part8 {
    position: absolute;
    top: 133.2px;
    left: 0;
    width: 300px;
    height: 22.2px;
    background-color: #0d5eaf;
}

.grekland .part9 {
    position: absolute;
    top: 177.6px;
    left: 0;
    width: 300px;
    height: 22.2px;
    background-color: #0d5eaf;
}
